<%= form_for :location, url: locations_path do |f|%>
  <p>
    <%= f.label :place %><br>
    <%= f.text_field :place %>
  </p>
  <p>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </p>
   <p>
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </p>
  <p>
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </p>

  <p>
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </p> 
  <p>
    <%= f.submit %>
  </p>
<% end %>