<p>
  <strong>place</strong>
  <%= @location.place %>
</p>
<p>
  <strong>city</strong>
  <%= @location.city %>
</p>
<p>
  <strong>country</strong>
  <%= @location.country %>
</p>
<p>
  <strong>latitude</strong>
  <%= @location.latitude %>
</p>
<p>
  <strong>longitude</strong>
  <%= @location.longitude %>
</p>
